* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  color: rgb(78, 78, 78);
}

body {
  background-image: url(./assets/back2.jpg);
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight:500;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  @media (max-width: 900px){
    align-items: start;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: fit-content;
  padding: 2rem;
  margin: 2rem;
  background: rgb(227, 238, 243);
  border: 5px solid #616970;
  border-radius: 20px;

  @media (max-width: 900px){
    flex-direction: column;
    margin: 10px;
    width: 360px;
  }
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.marty-logo {
  border-radius: 50%;
  border: 5px solid #616970;
  &:hover{
    border: 5px solid #EE7D3B;
  }
  @media (max-width: 900px){
    width: 80%;
    height: 80%;
  }
}

.marty-subtext{
  text-align: center;
}

.recording-and-reward-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @media(max-width: 900px){
    flex-direction: column;
  }
}

.buttons-container{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.recording-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button {
  height: 3rem;
  width: 12rem;
  border-radius: 24px;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.record-button {
  background-color: rgb(62, 173, 62);

  &:hover {
    background-color: rgb(39, 139, 39);
  }
}

.stop-record-button {
  background-color: brown;

  &:hover {
    background-color: rgb(117, 35, 35)
  }
}

.send-answer-button {
  background-color: #F2A644;

  &:hover {
    background-color: #EE7D3B;
  }
}

.reward-container{
  max-width: 250px;
  text-align: center;
  border-radius: 12px;
  border: 5px solid #EE7D3B;
  padding: 1rem;
}
