* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  color: rgb(78, 78, 78);
}

body {
  background-color: rgb(211, 235, 252);
  font-family: "Roboto", sans-serif;
  font-weight:500;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
}

.marty-logo {
  border-radius: 50%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.recording-results {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button {
  height: 3rem;
  width: 12rem;
  border-radius: 24px;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.record-button {
  background-color: rgb(62, 173, 62);

  &:hover {
    background-color: rgb(39, 139, 39);
  }
}

.stop-record-button {
  background-color: brown;

  &:hover {
    background-color: rgb(117, 35, 35)
  }
}

.send-answer-button {
  background-color: #F2A644;

  &:hover {
    background-color: #EE7D3B;
  }
}